<% content_for :header do %>
    <li class="list-header-nav">
      <%= form_with(model: @list, local: true) do |form| %>
        <%= form.text_field :name, id: :name, placeholder: "#{@list.name}", class: "list-header-name-edit" %>
      <% end %>
    </li>
    <li class="list-delete-button">
      <%= link_to @list, method: :delete do %>
        <i class="glyphicon glyphicon-remove-sign"></i>
      <% end %>
      </button>
    </li>
<% end %>

<%= render 'tasks/form' %>

<div class="task-list-container">
  <%= render @list.tasks %>
</div>
