<% content_for :header do %>
    <li class="list-header-nav">
      <%= form_with(model: @list, local: true) do |form| %>
        <%= form.text_field :name, id: :name, placeholder: "#{@list.name}", class: "list-header-name-edit" %>
      <% end %>
    </li>
    <li class="list-delete-button">
      <%= link_to @list, method: :delete do %>
        <i class="glyphicon glyphicon-remove-sign"></i>
      <% end %>
      </button>
    </li>
<% end %>

  <%= form_with(model: [ @list, Task.new], local: true) do |form| %>
    <div class="container add-task">
      <div class="col-1 icon-column">
        <div class="actions">
          <%= button_tag(type: "submit", class: "task-submit") do%>
            <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </div>
      </div>
      <div class="col-8 task-column field">
        <%= form.text_field :description, id: :description, placeholder: 'Add Task', class: "task-desc-field" %>
        <div class="date-btn">
          <i class="glyphicon glyphicon-calendar" id="calendar-toggle"></i>
        </div>
        <div class="note-btn">
          <i class="glyphicon glyphicon-book" id="note-toggle"></i>
        </div>
      </div>
    </div>
    <div class="container details-container">
      <div class="note-text-field" id="note-div">
        <%= form.text_area :notes, class: "task-note-field task-note-field-new", rows: '4', placeholder: "Enter task notes here", id: "task-note" %>
      </div>
      <div class="date-text-field" id="calendar-div" style="position: relative">
        <%= form.date_select :duedate, class: "date-field date-field-new form-control" %>
        <script type="text/javascript">
          $(function () {
            $("#datetimepicker-<%= form.object.id %>").datetimepicker();
          });
        </script>
      </div>
    </div>
  <% end %>

  <div class="task-list-container">
    <% @list.tasks.each do |task| %>
      <%= form_with model: [@list, task], local: true do |form| %>
        <div class="container task-items">
          <div class="col-1 icon-column">
            <%= link_to [@list, task], method: :delete do %>
              <i class="glyphicon glyphicon-ok-circle"></i>
            <% end %>
          </div>
          <div class="col-8 task-column">
              <%= form.text_field :description, id: :description, placeholder: "#{task.description}", class: "task-desc-field" %>
              <small><%= task.duedate %></small>
              <div class="date-btn">
                  <i class="glyphicon glyphicon-calendar" id="calendar-toggle" data-task-id="<%= task.id %>"></i>
              </div>
              <div class="note-btn">
                <i class="glyphicon glyphicon-book" id="note-toggle" data-task-id="<%= task.id %>"></i>
              </div>
          </div>
        </div>
        <div class="container details-container">
          <div class="note-text-field" id="note-div-task-<%= task.id %>">
            <%= form.text_area :notes, class: "task-note-field", rows: '4', placeholder: "Enter task notes here", id: "task-note" %>
            <%= form.submit "update note", class: "add-note-btn"%>
          </div>
          <div class="date-text-field" id="calendar-div-task-<%= task.id %>", style="position: relative">
            <%= form.date_select :duedate, class: "date-field date-field-new" %>
            <script type="text/javascript">
              $(function () {
                $("#datetimepicker-<%= form.object.id %>").datetimepicker();
              });
            </script>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
