<%= form_with(model: [ @list, Task.new], local: true) do |form| %>
  <div class="container add-task">
    <div class="col-1 icon-column">
      <div class="actions">
        <%= button_tag(type: "submit", class: "task-submit") do%>
          <i class="glyphicon glyphicon-plus"></i>
        <% end %>
      </div>
    </div>
    <div class="col-8 task-column field">
      <%= form.text_field :description, id: :description, placeholder: 'Add Task', class: "task-desc-field" %>
      <div class="date-btn">
        <i class="glyphicon glyphicon-calendar" id="calendar-toggle"></i>
      </div>
      <div class="note-btn">
        <i class="glyphicon glyphicon-book" id="note-toggle"></i>
      </div>
    </div>
  </div>
  <div class="container details-container-new">
    <div class="note-text-field" id="note-div">
      <%= form.text_area :notes, class: "task-note-field task-note-field-new", rows: '4', placeholder: "Enter task notes here", id: "task-note" %>
    </div>
    <div class="date-text-field" id="calendar-div" style="position: relative">
      <%= form.date_select :duedate, class: "date-field date-field-new form-control" %>
      <script type="text/javascript">
        $(function () {
          $("#datetimepicker-<%= form.object.id %>").datetimepicker();
        });
      </script>
    </div>
  </div>
<% end %>
